/* 
  TODO: 
    - fix inputs
    - clamp button width
    desktop:
      - adjust flex containers
      - padding clamp
      - font clamp
      - adjust images
      - clamp button padding 
*/

:root {
  --button-height:      3.125rem;
  --lighter-gray:       hsl(0, 0%, 98%);
  --light-gray:         hsl(0, 0%, 95%);        /* disabled border*/
  --border-gray:        hsl(0, 0%, 90%);    
  --lightish-gray:      hsl(0, 0%, 73%);
  --dark-gray:          hsl(0, 0%, 48%);
  --light-cyan:         hsl(170, 28%, 76%);
  --moderate-cyan:      hsl(176, 50%, 47%);
  --dark-cyan:          hsl(176, 72%, 28%);
  --dark-wat:           hsl(0, 0%, 3%);
}

*,
*::before,
*::after {
  font-family: 'commissioner';
  box-sizing: border-box;
  min-width: 0;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.9rem 1.2rem 0;   /* clamp */
}

h1 {
  font-size: 1.19rem;         /* clamp */
  padding: 1.1rem 0 1rem;
}

h2 {
  font-size: 1rem;            /* clamp */
}

h2, h3, p {
  padding-bottom: 1.5rem;
}

p {
  font-size: 0.77rem;          /* clamp */
  line-height: 1.7;
  color: var(--dark-gray);
  font-weight: 500;
}

button {
  background-color: var(--moderate-cyan);
  border: none;
  border-radius: 50px;
  /* min-height: 45px; */
  /* min-width: 132.95px; */
  font-size: 0.76rem; 
  color: white;
  font-weight: 500;
  padding: 0 2.3rem;
  align-self: flex-start;
  height: var(--button-height);
  /* display: inline-block;    */
  flex: 0 0 auto;
}

button:not(.back-this-project) {
  height: 2.8rem;
}

button:not(.confirm-pledge) {
  min-width: 132.95px;
}

button, .bookmark {
  transition: .2s ease-in-out;
}

.hero {
  background: url(./images/image-hero-mobile.jpg);
  background-size: contain;
  background-repeat: round;
  aspect-ratio: 8 / 7;
}

.header-svg img {
  inline-size: 87%;     /* clamp */
}

.links {
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.burger-menu {
  height: fit-content;
}

.burger-menu:hover,
.bookmark,
.close-modal,
button:not(.button-disabled):hover {
  cursor: pointer;
}

button:hover {
  background-color: var(--dark-cyan);
}

.bookmark p {
  display: none;
}

/* .bookmark {
  filter: 
    brightness(0) 
    saturate(100%) 
    invert(16%) 
    sepia(0%) 
    saturate(2462%) 
    hue-rotate(277deg) 
    brightness(98%) 
    contrast(91%);
} */

/* .bookmark:hover {
  filter:
    brightness(0) 
    saturate(100%) 
    invert(44%) 
    sepia(0%) 
    saturate(423%) 
    hue-rotate(33deg) 
    brightness(98%) 
    contrast(96%);
} */

.content-container {
  display: flex;
  justify-content: center;
  background-color: var(--lighter-gray);
}

.content {
  width: 87%;
  max-width: 1200px;
  /* display: grid;
  gap: 1.5rem; */
  transform: translateY(-3.2rem);
}

.content,
.rewards {
  display: grid;
  gap: 1.5rem;
}

.content > *,
.reward,
.modal,
.modal-pledge {
  background-color: white;
  padding: clamp(1.4rem, 5vw, 2.4rem);
  border: 1.5px solid var(--light-gray);
  border-radius: 7px;
}

.intro {
  text-align: center;
  border-top: none;
  padding-top: 0;
}

/* .intro > * {
  transform: translateY(-3.35rem);
} */

.mastercraft-logo {
  margin-top: -1.8rem;
}

.intro-buttons {
  display: flex;
  justify-content: space-between;
  /* gap: 0.5rem; */
}

.intro-buttons img {
  /* inline-size: 83%;     */
  height: var(--button-height);
}

/* .back-this-project {
  font-size: 0.78rem;     
} */

.stats {
  /* display: flex;
  flex-direction: column;
  place-items: center; */
  text-align: center;
}

.stats p {
  padding-bottom: 0.1rem;
}

.numbers {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: .5rem;
}

.number {
  /* padding-bottom: 1rem; */
  height: fit-content;
}

.stat-number,
.reward-number {
  font-size: 1.8rem;      /* clamp */
  font-weight: 700;
  color: black;
  height: auto;
  /* line-height: 1; */
}


.bottom-border {
  width: 77px;
  border: 1px solid var(--light-gray);
  margin-top: .7rem;
}

.progress-bar {
  width: 100%;
  height: 12px;
  border-radius: 50px;
  background-color: rebeccapurple;
  margin-top: 2rem;
}

.about {
  padding: 1rem 0 0;
}

.about p:nth-of-type(2) {
  padding-bottom: 0.5rem;
}

.rewards-left {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.reward {
  padding: 1.1rem;
  border: 2px solid var(--border-gray);
}

.reward-type {
  padding-bottom: 0.1rem;
  font-weight: 700;
  color: black;
}

.pledge-minimum {
  color: var(--moderate-cyan);
  font-weight: 700;
  padding-bottom: 1.2rem;
}

.reward-description {
  font-size: 0.73rem;     /* clamp */
  padding-bottom: 1rem;
}

.reward-number {
  padding-bottom: 1rem;
  font-size: clamp(1.1rem, 5vw, 1.8rem);
}

/* .reward-left-div {
  display: flex;
  align-content: center;
} */

.reward-left {
  transform: translateY(8%);
  font-size: clamp(0.9rem, 4vw, 1rem);
  /* font-size: 0.9rem; */
}

.select-reward {
  padding: 0 1.7rem;
}

.reward-disabled {
  border: 2px solid var(--light-gray);
}

.reward-disabled .reward-type,
.reward-disabled .reward-number {
  color: var(--dark-gray);
}

.reward-disabled .pledge-minimum {
  color: var(--light-cyan);
}

.reward-disabled .reward-description,
.reward-disabled .reward-left {
  color: var(--lightish-gray);
}

.button-disabled {
  background-color: var(--lightish-gray);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 3%, 60%);
}

.modal {
  border: none;
  padding: 1.5rem 1.5rem;
  width: 87%;
  max-width: 1200px;
  margin: 35% auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal, .overlay {
  display: none;
}

.modal h2,
.pledge-header p {
  padding: 0;
}

.modal p:not(.reward-number, .reward-left){         /* ? */
  font-size: 0.73rem;
}

.modal-completed {
  text-align: center;
}

.modal-completed button {
  padding: 0 1.8rem;
}

.check-icon {
  padding-bottom: 1.5rem;
}

/* for open modal */
/* .modal-pledges {
  display: grid;
  gap: 1.4rem;
} */

.modal-pledges-header {
  display: flex;
  justify-content: space-between;
  /* padding-bottom: 1.5rem; */
}

.modal-pledges-heading {
  padding: 1.5rem 0 0;
}

.close-modal {
  align-self: self-end;
  height: fit-content;
  line-height: 0;
}

.pledge-header {
  display: flex;
}

/* .modal-pledges > p {
  padding-bottom: 0;
} */

.modal-pledge {
  margin-top: 1.5rem;
  padding-bottom: 0;
  border: 1.7px solid var(--border-gray);
}

.modal-pledge-disabled {
  border-color: var(--light-gray);
}

.modal-pledge-disabled p {
  color: var(--border-gray);
}

.modal-pledge-disabled .reward-type,
.modal-pledge-disabled .reward-number {
  color: var(--dark-gray);
}

.modal-pledge-disabled .pledge-minimum {
  color: var(--light-cyan);
}

.no-reward {
  padding-bottom: 0;
}

.pledge-bottom {
  /* border-top: 2px solid var(--light-gray); */
  /* padding: 0 1.4rem 1.4rem; */
  padding: 1.5rem 1.4rem 1.4rem;
  border-radius: 7px;
  text-align: center;
  /* margin-bottom: 1.5rem; */
}

.no-reward-button {
  margin-left: auto;
}

.enter-pledge {
  /* display: grid;
  grid-template-columns: 1fr 1.4fr; */
  display: flex;
  gap: 0.7rem;
}

.pledge-amount {
  border-radius: 50px;
  border: 2.2px solid var(--light-gray);
  outline: none;
}

.confirm-pledge {
  padding: 0 1.5rem;
}

.pledge-header {
  /* display: flex;
  gap: 0.7rem; */
  padding-bottom: 1.5rem;
}

.pledge-header,
.pledge-left {
  display: flex;
  gap: 0.7rem;
}

@media (min-width: 800px) {
  .hero {
    background: url(./images/image-hero-desktop.jpg);
    /* background-size: cover; */
    background-repeat: round;
    /* background-position: center; */
    aspect-ratio: unset;
    height: 25vh;
  }

  .bookmark {
    display: flex;
    background-color: var(--light-gray);
    border-radius: 50px;
  }

  .bookmark p{
    display: block;
    padding: 0 1.3rem 0 0.7rem;
    height: fit-content;
    align-self: center;
    font-weight: 700;
  }

  /* .content {
    width: 70%;
    max-width: 1200px;
  } */

  .numbers {
    /* flex-direction: row;
    justify-content: space-between; */
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: .8fr .1fr 1fr .1fr 1.2fr;
  }

  .number {
    /* text-align: left; */
    justify-self: left;
  }

  .number-2, .number-3 {
    padding-left: 1.5rem;
  }

  /* .number-1, .number-2 {
    border-right: 1px solid var(--light-gray);
  } */

  .bottom-border {
    /* display: none; */
    width: 0;
    height: 50px;
  }

  .reward-bottom {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 850px) {
  .hero {
    background: url(./images/image-hero-desktop.jpg);
    /* background-size: cover; */
    background-repeat: round;
    background-position: center;
    /* aspect-ratio: unset; */
    height: 70vh;
  }
}