/* 
  TODO: 
    + fine-tune font sizes
    - refactor animations
    - fix burger bug
    + burger menu animation
    + confirm modal closing animation
    + fix bookmark circle
*/

:root {
  --lighter-gray:       hsl(0, 0%, 98%);
  --light-gray:         hsl(0, 0%, 95%);        /* disabled border */
  --border-gray:        hsl(0, 0%, 90%);    
  --lightish-gray:      hsl(0, 0%, 73%);
  --dark-gray:          hsl(0, 0%, 48%);
  --dark-wat:           hsl(0, 0%, 3%);

  --lighter-cyan:       hsl(192, 29%, 97%);
  --light-cyan:         hsl(170, 28%, 76%);
  --moderate-cyan:      hsl(176, 50%, 47%);
  --dark-cyan:          hsl(176, 72%, 28%);

  --button-height:      3.125rem;
}

*,
*::before,
*::after {
  font-family: 'commissioner';
  box-sizing: border-box;
  min-width: 0;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.9rem 1.5rem 0;
}

h1 {
  font-size: clamp(1.19rem, 5.6vw, 1.8rem);
  padding: 1.1rem 0 1rem;
}

h2 {
  font-size: clamp(1rem, 5vw, 1.2rem);     
}

h2, h3, 
p:not(.reward-type, .link, .currency-simbol, .modal-pledges-heading) {
  padding-bottom: 1.5rem;
}

p {
  font-size: clamp(0.75rem, 3.5vw, 1.04rem);     /* 1.07 */
  line-height: 1.7;
  color: var(--dark-gray);
}

button {
  background-color: var(--moderate-cyan);
  border: none;
  border-radius: 50px;
  font-size: clamp(0.76rem, 3.5vw, .91rem); 
  color: white;
  font-weight: 500;
  align-self: flex-start;
  height: var(--button-height);
  flex: 0 0 auto;
}

button:not(.back-this-project) {
  height: 3rem;
}

.select-reward {
  min-width: 132.95px;
  width: clamp(132.95px, 40vw, 170px);
}

button, 
.bookmark {
  transition: .3s ease-in-out;
}

.hero {
  background: url(./images/image-hero-mobile.jpg);
  background-size: contain;
  background-repeat: round;
  aspect-ratio: 8 / 7;
}

.header-flair {
  display: flex;
  z-index: 1;
}

.header-svg img {
  inline-size: 87%;   
  flex-shrink: 0;
}

.links,
.close-menu {
  display: none;
}

.links.visible {
  transform: translateY(3rem);
  margin: 0 auto;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 1;
  border-radius: 8px;
}

.link {
  padding: 1.3rem;
}

.link a {
  text-decoration: none;
  font-weight: 500;
  color: var(--dark-wat);
  width: fit-content;
}

.link:not(.link:nth-of-type(3)) {
  border-bottom: 1.5px solid var(--light-gray);
}

.burger-menu,
.close-menu {
  margin-left: auto;
}

.close-menu.visible {
  display: block;
  height: fit-content;
  margin-left: auto;
}

.burger-menu:hover,
.bookmark,
.close-modal,
.close-menu,
.reward-type:not(.reward-type-disabled),
.select-pledge:not(.select-pledge-disabled),
button:not(.button-disabled):hover {
  cursor: pointer;
}

button:not(.button-disabled):hover {
  background-color: var(--dark-cyan);
}

.bookmark p {
  display: none;
}

.bookmark:hover .outer-circle {
  fill: var(--dark-gray);
}

.bookmark.active:hover .outer-circle {
  fill: var(--moderate-cyan);
}

.outer-circle {
  transition: .3s ease-in-out;
  fill: hsl(0, 0%, 18%);
}

.outer-circle.active {
  fill: var(--dark-cyan);
  transition: .3s ease-in-out;
}

.inner-shape {
  fill: hsl(0, 0%, 69%);
}

.inner-shape.active {
  fill: white;
}

.content-container {
  display: flex;
  justify-content: center;
  background-color: var(--lighter-gray);
}

.content {
  width: 87%;
  max-width: 777px;
  transform: translateY(-3.8rem);
}

.content,
.rewards {
  display: grid;
  gap: 1.5rem;
}

.content > *,
.reward,
.modal,
.modal-pledge {
  background-color: white;
  padding: clamp(1.4rem, 5vw, 3.5rem);
  border: 1.5px solid var(--light-gray);
  border-radius: 8px;
}

.intro {
  text-align: center;
  border-top: none;
  padding-top: 0;
  padding-bottom: 3rem;
}

.intro-p{
  padding-bottom: .5rem;
}

.mastercraft-logo {
  margin-top: -1.8rem;
}

.intro-buttons {
  padding-top: clamp(0px, 4vw, .7rem);
  display: flex;
  justify-content: space-between;
}

.intro-buttons img {
  height: var(--button-height);
}

.back-this-project {
  min-width: clamp(170px, 5vw, 210px);
  width: clamp(170px, 50vw, 200px);
}

.stats {
  padding-bottom: clamp(2rem, 5vw, 3.5rem);
  text-align: center;
}

.stats p {
  padding-bottom: 0.1rem;
}

.stat {
  font-size: clamp(0.77rem, 4vw, .9rem);
}

.numbers {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: .5rem;
}

.number {
  height: fit-content;
}

.stat-number,
.reward-number {
  font-size: 1.8rem;      /* clamp */
  font-weight: 700;
  color: black;
  height: auto;
}


.bottom-border {
  width: 77px;
  border: 1px solid var(--light-gray);
  margin-top: .7rem;
}

.progress-container {
  width: 100%;
  height: fit-content;
  margin-top: 2rem;
  border-radius: 50px;
  background-color: var(--light-gray);
}

.progress-bar {
  width: 89.914%;
  max-width: 100%;
  height: 12px;
  border-radius: 50px;
  background-color: var(--moderate-cyan);
}

.about p:nth-of-type(2) {
  padding-bottom: 0.5rem;
}

.rewards-left {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.desktop-rewards-left {
  display: none;
}

.reward {
  padding: clamp(1.5rem, 4vw, 2rem);
  border: 2px solid var(--border-gray);
}

.reward-type {
  padding-bottom: 0.1rem;
  font-weight: 700;
  color: black;
  transition: .3s ease-in;
  height: fit-content;
}

.reward-type:not(.reward-type-disabled):hover,
.reward-type:not(.reward-type-disabled):hover ~ .pledge-minimum {
  color: var(--moderate-cyan);
  font-weight: 700;
}

.pledge-minimum {
  color: var(--moderate-cyan);
  font-weight: 500;
  padding-bottom: 1.2rem;
  transition: .3s ease-in;
}

.reward-description {
  font-size: clamp(0.7rem, 3.6vw, 1.01rem); 
  padding-bottom: clamp(1rem, 5vw, 1.5rem);
}

.reward-number {
  padding-bottom: 1rem;
}

.pledge-number {
  font-size: 1.1rem;
}

.pledge-number,
.pledge-left {
  padding: 0;
}

.reward-left {
  font-size: clamp(0.9rem, 4vw, 1rem);
}

.reward-disabled {
  border: 2px solid var(--light-gray);
}

.reward-disabled .reward-type,
.reward-disabled .reward-number {
  color: var(--dark-gray);
}

.reward-disabled .pledge-minimum {
  color: var(--light-cyan);
}

.reward-disabled .reward-description,
.reward-disabled .reward-left {
  color: var(--lightish-gray);
}

.button-disabled {
  background-color: var(--lightish-gray);
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 3%, 60%);
}

.modal {
  border: none;
  padding: 1.5rem 1.5rem;
  width: 87%;
  max-width: 800px;
  margin: 35% auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal-pledges,
.modal-completed, 
.overlay,
.pledge-bottom {
  display: none;
}

.modal-pledges {
  padding: clamp(1.5rem, 5vw, 2.5rem) clamp(1.5rem, 5vw, 3rem);
}

.pledge-bottom  {
  display: none;
}

.modal h2,
.pledge-header p {
  padding: 0;
}

.modal p:not(.reward-number, .reward-left, .input-error){         /* ? */
  font-size: clamp(0.73rem, 3.7vw, .9rem);
}

.modal-completed {
  text-align: center;
  max-width: 575px;      /* 575 */
  width: 87%;
  padding: clamp(2rem, 5vw, 3rem) clamp(1.4rem, 5vw, 3rem);
  transform: translateY(1.6rem);
}

.modal-completed h3 {
  font-size: clamp(1rem, 5vw, 1.5rem);
  padding:  clamp(1rem, 5vw, 2.2rem) 0 clamp(1rem, 5vw, 1rem);
}

#modal-completed-p {
  font-size: clamp(0.73rem, 3.7vw, 1.05rem);
  padding-bottom: 2rem;
}

.modal-completed-button {
  padding: 0 1rem;
  width: clamp(100px, 20vw, 110px);
}

.check-icon {
  padding-bottom: 0;
}

.modal-pledges-header {
  display: flex;
  justify-content: space-between;
}

.modal-pledges-heading {
  padding: 1.5rem 0 0 0;
}

.close-modal {
  align-self: self-end;
  height: fit-content;
  line-height: 0;
}

.close-modal img {
  inline-size: clamp(100%, 5vw, 110%);
}

.pledge-header {
  display: flex;
  padding-bottom: 1.5rem;
  justify-content: space-between;
}

.pledge-heading {
  display: flex;
  gap: clamp(.5rem, 4vw, 1.5rem);
}

.pledge-heading-text {
  display: flex;
  flex-direction: column;
}

.modal-pledge {
  margin-top: 1.5rem;
  padding-bottom: 0;
  border: 1.7px solid var(--border-gray);
  padding: clamp(1.4rem, 5vw, 2.5rem) clamp(1.4rem, 5vw, 2rem) 0;
}

.modal-pledge:has(.select-pledge:checked) {
  border-top-color: var(--moderate-cyan);
  border-left-color: var(--moderate-cyan);
  border-right-color: var(--moderate-cyan);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-width: 2.5px;
  border-bottom-width: 1.7px;
}

.pb-no-reward p {
  visibility: hidden;
}

.modal-pledge:has(.select-pledge:checked) + .pledge-bottom {
  display: block;
  border-left: solid 2.5px var(--moderate-cyan);
  border-bottom: solid 2.5px var(--moderate-cyan);
  border-right: solid 2.5px var(--moderate-cyan);
}

.modal-pledge input[type="radio"]:checked + .pledge-bottom {
  border-color: #007bff;
}

.select-pledge {
  width: 25px;
  height: 25px;
  appearance: none;
  border: 2px solid var(--border-gray);
  border-radius: 50%;
  background-clip: content-box;
  padding: 5px;
  transition: .3s ease-in;
  align-self: center;
}

.select-pledge:checked {
  background-color: var(--moderate-cyan);
}

.modal-pledge-disabled {
  border-color: var(--light-gray);
}

.modal-pledge-disabled p {
  color: var(--border-gray);
}

.modal-pledge-disabled .reward-type,
.modal-pledge-disabled .reward-number {
  color: var(--dark-gray);
}

.modal-pledge-disabled .pledge-minimum {
  color: var(--light-cyan);
}

.pledge-description {
    padding-bottom: 1.5rem;
}

.pledge-bottom {
  padding: clamp(1.5rem, 5vw, 2rem);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  text-align: center;
}

.enter-pledge-no-reward {
  display: flex;
  justify-content: flex-end;
}

.enter-pledge {
  display: grid;
  grid-template-columns: 45% 50%;
  gap: 1rem;
}

.pledge-amount {
  display: flex;
  flex-shrink: 0;
  border-radius: 50px;
  border: 2.2px solid var(--border-gray);
  outline: none;
  padding: 0 .5rem 0 1rem;
  transition: .15s ease-in;
}

.pledge-amount:hover,
.pledge-amount *:hover {
  cursor: pointer;
}

.pledge-amount:has(input[type="text"]:focus) {
  border-color: var(--moderate-cyan);
  caret-color: var(--moderate-cyan);
}

.nr-pledge-amount {
  visibility: hidden;
}

.currency-simbol {
  align-self: center;
  color: var(--lightish-gray);
  padding: 0;
}

.pledge-amount input {
  width: 100%;
  align-self: center;
  border: none;
  outline: none;
  font-weight: 700;
  margin-left: .5rem;
}

.pledge-amount.error {
  border-color: rgb(188, 32, 32);
}

.input-error {
  color: rgb(188, 32, 32);
  transition: .25s ease-in;
  font-size: .7rem;
  margin-top: .5em;
}

input[type=number] {
  appearance: textfield;
}

.pledge-header,
.pledge-left {
  display: flex;
  gap: 0.7rem;
}

@media (min-width: 800px) {
  .hero {
    background: url(./images/image-hero-desktop.jpg);
    background-repeat: round;
    aspect-ratio: unset;
    height: 25vh;
  }

  header {
    padding: 1.9rem 5.8rem 0;
    flex-direction: row;
    
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2.5rem;
  }

  .link {
    padding: 0;
  }

  .link a {
    color: var(--lighter-gray);
    font-size: .9rem;
  }

  .link:not(.link:nth-of-type(3)) {
    border-bottom: 0px;
  }

  .burger-menu,
  .close-menu {
    display: none
  }

  .content {
    width: 80%;
    transform: translateY(-5.5rem);
  }

  .reward {
    padding-bottom: 1rem;
  }

  .reward-heading {
    display: flex;
    justify-content: space-between;
  }

  .bookmark {
    display: flex;
    background-color: var(--light-gray);
    border-radius: 50px;
    height: fit-content;
  }

  .bookmark.active {
    background-color: var(--lighter-cyan);
  }

  .bookmark p {
    display: block;
    padding: 0 1.6rem 0 0.9rem;
    height: fit-content;
    align-self: center;
    font-weight: 700;
    font-size: 1rem;
  }

  .bookmark-p.active {
    color: var(--dark-cyan);
  }

  .stats {
    text-align: left;
  }

  .numbers {
    display: grid;
    grid-template-columns: .8fr .1fr 1fr .1fr 1.2fr;
  }

  .number {
    justify-self: left;
  }

  .number-2, .number-3 {
    padding-left: 1.5rem;
  }

  h2 {
    padding-bottom: 2rem;
  }

  .about p:nth-of-type(2) {
    padding-bottom: 1.5rem;
  }

  .bottom-border {
    width: 0;
    height: 50px;
  }

  .pledge-header {
    padding-bottom: 1rem;
  }

  .pledge-description {
    padding-left: 2.7rem;
    padding-bottom: 0;
  }

  .enter-pledge-no-reward {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .reward-bottom {
    display: flex;
    justify-content: space-between;
  }

  .pledge-bottom p {
    align-self: center;
    padding: 0;
  }

  .enter-pledge {
    display: grid;
    grid-template-columns: .5fr .5fr;
  }

  .modal-pledge:has(.select-pledge:checked) + .pledge-bottom {
    display: flex;
    justify-content: space-between;
  }

  .modal-pledges {
    transform: translateY(-10rem);
  }

  .modal-pledges-header {
    flex-direction: column;
  }

  .close-modal {
    order: 1;
  }

  .modal h2 {
    order: 2;
  }

  .desktop-rewards-left {
    display: flex;
  }

  .mobile-rewards-left {
    display: none;
  }

  .pledge-heading-text {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .modal-completed {
    transform: translateY(-.05rem);
  }

  .check-icon img {
    inline-size: 18%;
  }

  .no-reward-button {
    min-width: 180px;
    margin-left: auto;
  }
}

@media (min-width: 850px) {
  .hero {
    background: url(./images/image-hero-desktop.jpg);
    background-repeat: round;
    background-position: center;
    height: 60vh;
  }

  header {
    padding: 2.7rem 11rem 0;
  }

  .header-svg img {
    inline-size: 100%;   
  }

  .modal-pledges {
    transform: translateY(-19.5rem);
  }
}